nav {
  text-align: center;
}

nav a {
  color: #f9bd0e;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: none;
}

nav a b {
  font-size: 50px;
}

nav img {
  display: inline-block;
  height: 38px;
  margin: -2px 0;
}

@media screen and (max-width: 445px) {
  nav a b {
    font-size: 36px;
  }

  nav img {
    display: inline-block;
    height: 30px;
  }
}
